<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Boris/IdeaProjects/JQALearn/src/main/java"><classes><class name="Homework10.Test.FirstTest"><methods><include name="verifyAll"/></methods></class><class name="Homework11.Test1.FullTest"><methods><include name="verifyAll"/></methods></class><class name="Homework9.SampleTest"><methods><include name="verifyLogo"/><include name="verifyUserData"/><include name="verifyUserPass"/><include name="verifyLogButton"/></methods></class><class name="Module4.Task01.Test.TestHomePage"><methods><include name="addNewSalesEntries"/><include name="PerformanceResult"/><include name="deleteAllSalesEntries"/></methods></class><class name="Module4.Task01.Test.TestLogin"><methods><include name="ValidCredentialsLogin"/><include name="loginWithInvalidPassword"/></methods></class></classes></test></suite>